main {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1600px) {
  main {
    margin-top: 50px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding: 0;
  }
}
