.content {
  position: relative;
  width: 800px;
  margin: 0 auto;
}
.content .carousel {
  height: 600px;
  border: 10px solid var(--main-color);
}

.dog-name_wrapper {
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  text-align: center;
  padding: 5px 2px;
}

@media only screen and (max-width: 1600px) {
  .content {
    width: 960px;
  }
  .content .carousel {
    height: 720px;
  }
}
@media only screen and (max-width: 1024px) {
  .content {
    width: 800px;
  }
  .content .carousel {
    height: 600px;
  }
}
@media only screen and (max-width: 800px) {
  .content {
    width: 640px;
  }
  .content .carousel {
    height: 480px;
  }
}
@media only screen and (max-width: 375px) {
  .content {
    width: 375px;
  }
  .content .carousel {
    height: 281px;
  }
}
