.settings-form {
  width: 400px;
  background-color: #fefefe;

  .form-group {
    display: flex;
    flex-direction: column;
  }
  .group-item {
    margin-bottom: 20px;
  }
  .group-item_wrapper {
    display: flex;
    justify-content: space-between;

    .group-item {
      width: 40%;
    }
  }

  fieldset {
    font-size: 1.5rem;
    width: 100%;
    padding: 25px 45px;
    margin-bottom: 20px;
  }
  label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 10px;
  }
  select {
    background-color: #fefefe;
    text-transform: capitalize;
  }
  select,
  input {
    padding: 10px 0;
    width: 100%;
  }
  button {
    margin: 0 auto;
    display: block;
    padding: 15px 40px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    font-family: "Lato";

    button:hover {
      background-color: #964000;
    }
    option {
      text-transform: capitalize;
    }
  }
  .form-footer {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .settings-form {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 400px) {
  .settings-form {
    width: 100%;

    fieldset {
      border: none;
      border-top: 1px solid;
    }
  }
}
